* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: url('underwater.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
}


.fish-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.fish {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}


.bubble-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.bubble-container img {
    height: 40px;
    position: absolute;
    top: 140%;
    transform: translateX(-50%);
}

.bubble1 { left: 16%; animation: bubbleAnim 7s linear infinite 2s; }
.bubble2 { left: 48%; animation: bubbleAnim 7s linear infinite 8s; }
.bubble3 { left: 80%; animation: bubbleAnim 7s linear infinite 5s; }

@keyframes bubbleAnim {
    0% { top: 140%; }
    75% { opacity: 1; }
    100% { top: 20%; opacity: 0; }
}


.signal {
    position: absolute;
    top: 20px;
    right: 90px;
    background: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50px;
}

.light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.3;
}

.red { background: red; }
.yellow { background: yellow; }
.green { background: green; }

.active { opacity: 1; }